
{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    
    {% include "manager/parts/header-mobile.html" %}
    
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            
            {% include "manager/parts/aside.html" with menu_parent='user' menu_child='user-list' %}
            
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                
                {% include "manager/parts/header.html" %}
                
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            
                            <div class="card card-custom">
                                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                    <div class="card-title">
                                        <h3 class="card-label">All Users</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="{% url 'manager:user-create' %}" class="btn btn-primary font-weight-bolder">Add User</a>
                                    </div>
                                </div>
                                
                                <div class="card-body">
                                    <!-- Search Form -->
                                    <form method="get" class="mb-7">
                                        <div class="form-group row">
                                            <div class="col-lg-3 mt-5">
                                                <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search by username or email">
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-5 ml-7">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </form>
                                    
                                    <!-- Users Table -->
                                    {% if objects %}
                                    <table class="table table-bordered table-hover table-checkable mt-3">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in objects %}
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.email }}</td>
                                                <td>{{ user.role }}</td>
                                                <td>{{ user.first_name }}</td>
                                                <td>{{ user.last_name }}</td>
                                                <td class="pl-0">
                                                    <a href="{% url 'manager:user-update' user.id %}" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-1">
                                                        <i class="fas fa-edit text-primary"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-icon btn-light btn-hover-danger btn-sm mx-1" data-toggle="modal" data-target="#deleteModal{{ user.pk }}">
                                                        <i class="fas fa-trash-alt text-danger"></i>
                                                    </button>
                                                    <!-- Delete Modal -->
                                                    <div class="modal fade" id="deleteModal{{ user.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ user.pk }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-body text-center">
                                                                    <h4 class="mb-3">Delete User</h4>
                                                                    <p>Are you sure?</p>
                                                                    <div class="d-flex justify-content-center">
                                                                        <button type="button" class="btn btn-outline-secondary mr-3" data-dismiss="modal">Cancel</button>
                                                                        <a href="{% url 'manager:user-delete' user.pk %}" class="btn btn-danger">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        {% include "extensions/there_nothing_we_can_do.html" %}
                                    {% endif %}
                                    
                                    {% if paginator.count > 5 %}
                                        {% include "extensions/pagination.html" %}
                                    {% endif %}
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                {% include "manager/parts/footer.html" %}
                
            </div>
            
        </div>
    </div>
    
    {% include "manager/parts/user-panel.html" %}
    {% include "manager/parts/scrolltop.html" %}
    
</body>
{% endblock %}

