{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

    {% include "teacher/parts/header-mobile.html" %}

    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            {% include "teacher/parts/aside.html" with menu_parent="course" menu_child="course-all" %}
            <div class="d-flex flex-column flex-row-fluid wrapper pt-0" id="kt_wrapper">
                {% include "teacher/parts/header.html" %}
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container mt-20">
                            <div class="card card-custom">
                                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                    <div class="card-title">
                                        <h3 class="card-label">All Courses</h3>
                                    </div>
                                    <div class="card-toolbar">
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <form class="pb-5" method="get" class="mb-7">
                                        <div class="form-group row">
                                            <div class="col-lg-3 mt-5">
                                                <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-5 ml-7">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </form>
                                    {% if objects %}
                                    <table class="table table-bordered table-hover table-checkable" style="margin-top: 13px !important">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                            </tr>
                                        </thead> 
                                        <tbody>
                                            {% for object in objects %}
                                            <tr>
                                                <td>{{ object }}</td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        {% include "extensions/there_nothing_we_can_do.html" %}
                                    {% endif %}

                                    {% if is_paginated %}
                                    {% include "extensions/pagination.html" %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "teacher/parts/footer.html" %}
            </div>
        </div>
    </div>

    {% include "teacher/parts/user-panel.html" %}
    {% include "teacher/parts/scrolltop.html" %}
</body>
{% endblock %}
