{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

    {% include "app_receptionist/parts/header-mobile.html" %}
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-row flex-column-fluid page">
            {% include "app_receptionist/parts/aside.html" with menu_parent="lesson" menu_child="lesson-all" %}
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                {% include "app_receptionist/parts/header.html" %}
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div class="card card-custom">
                                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                    <div class="card-title">
                                        <h3 class="card-label">All Lessons</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="{% url 'common:lesson-create' %}" class="btn btn-primary font-weight-bolder">Add</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form method="get" class="mb-7">
                                        <div class="form-group row">
                                            <div class="col-lg-3 mt-5">
                                                <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-5 ml-7">
                                                <i class="fas fa-search"></i> Search
                                            </button>
                                        </div>
                                    </form>
                                    
                                    {% if objects %}
                                    <table class="table table-bordered table-hover table-checkable mt-3">
                                        <thead>
                                            <tr>
                                                <th>Group</th>
                                                <th>Date</th>
                                                <th>Topic</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for lesson in objects %}
                                        <tr>
                                        <td>{{lesson.group.title}}</td>
                                        <td>{{ lesson.title }}</td>
                                        <td>{{ lesson.topic }}</td>
                                        <td>{{ lesson.date }}</td>
                                            <td nowrap="nowrap">
                                                <a href="{% url 'common:lesson-update' lesson.pk %}" class="btn btn-sm btn-light btn-icon mr-2" title="Edit">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                <button type="button" class="btn btn-sm btn-clean btn-icon" data-toggle="modal" data-target="#deleteModal{{ lesson.pk }}" title="Ўчириш">
                                                    <i class="la la-trash"></i>
                                                </button>

                                                <div class="modal fade" id="deleteModal{{ lesson.pk }}" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body text-center">
                                                                <h4 class="mb-3">Ўчириш</h4>
                                                                <p>Ишончингиз комилми?</p>
                                                                <div class="d-flex justify-content-center">
                                                                    <button type="button" class="btn btn-outline-secondary mr-3" data-dismiss="modal">Ортга қайтиш</button>
                                                                    <a href="{% url 'common:lesson-delete' lesson.pk %}" class="btn btn-danger">Ўчириш</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                    {% else %}
                                        {% include "extensions/there_nothing_we_can_do.html" %}
                                    {% endif %}

                                    {% if paginator.count > 5 %}
                                        {% include "extensions/pagination.html" %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "app_receptionist/parts/footer.html" %}
            </div>
        </div>
    </div>
    {% include "app_receptionist/parts/user-panel.html" %}
    {% include "app_receptionist/parts/scrolltop.html" %}
</body>
{% endblock %}
